<a href="https://colab.research.google.com/github/InnaTik/python_for_ds_task/blob/main/%D0%94%D0%97_14__%22hw_3_2_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D0%B8_%D1%80%D0%BE%D0%B1%D0%BE%D1%82%D0%B8_%D0%B7_%D0%B4%D0%B0%D0%BD%D0%B8%D0%BC%D0%B8_%D1%83_Pandas_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнє завдання до теми "Основи роботи з даними у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
data_path = 'drive/MyDrive/Study/Python/data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. За допомогою бібліотеки Pandas виведіть перші 4 і останні 4 записи у наборі даних (це дві окремі команди). Треба саме 4! Не 5.

In [3]:
df.head(4)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4

In [4]:
df.tail(4)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.690,1022.490,3/2/2019,17:16,Ewallet,973.80,4.761905,48.690,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.592,33.432,2/9/2019,13:22,Cash,31.84,4.761905,1.592,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.291,69.111,2/22/2019,15:33,Cash,65.82,4.761905,3.291,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.919,649.299,2/18/2019,13:28,Cash,618.38,4.761905,30.919,6.6

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1F5XlzBOOTMsedpsYqz6NnXjIPTDe6jpx)

2. Виведіть рядки даних з індексами з 615 по 619 включно.

In [5]:
df.loc[615:619]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
615,509-29-3912,A,Yangon,Member,Female,Sports and travel,38.72,9,17.4240,365.9040,3/20/2019,12:24,Ewallet,348.48,4.761905,17.4240,4.2
616,327-40-9673,B,Mandalay,Member,Male,Sports and travel,72.60,6,21.7800,457.3800,1/13/2019,19:51,Cash,435.60,4.761905,21.7800,6.9
617,840-19-2096,C,Naypyitaw,Member,Male,Electronic accessories,87.91,5,21.9775,461.5275,3/14/2019,18:10,Ewallet,439.55,4.761905,21.9775,4.4
618,828-46-6863,A,Yangon,Member,Male,Food and beverages,98.53,6,29.5590,620.7390,1/23/2019,11:22,Credit card,591.18,4.761905,29.5590,4.0
619,641-96-3695,C,Naypyitaw,Member,Female,Fashion accessories,43.46,6,13.0380,273.7980,2/7/2019,17:55,Ewallet,260.76,4.761905,13.0380,8.5

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1Otufe_TXRmjZxWigzBiVBLCAVUfEReXM)

3. Виведіть назви колонок у наборі даних разом з їхніми типами. Це можна зробити кількома способами, важливо аби в результаті були назви колонок і відповідні їм типи.

In [6]:
df.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

Очікуваний результат (один з можливих форматів):

![](https://drive.google.com/uc?export=view&id=1ASh6-S-_f3X9fTQAPIvnHMFZamTBjNkL)

4. Користуючись методом `DataFrame.describe()` виявіть 1, 25, 50, 75 і 99 персентилі колонки `gross income`. Знайдіть, яке значення відповідає 75отму персентилю цієї колонки і що це означає? Як би Ви його пояснили простими словами колегам? Відповідь напишіть текстом в окремій клітинці типу Markdown.

In [7]:
df['gross income'].describe(percentiles=[0.01, 0.25, 0.5, 0.75, 0.99])

count    1000.000000
mean       15.379369
std        11.708825
min         0.508500
1%          0.913735
25%         5.924875
50%        12.088000
75%        22.445250
99%        45.250750
max        49.650000
Name: gross income, dtype: float64

75% значень валового доходу менший або дорівнює ~ 22,45. Це означає, що більшість покупок приносить невеликий дохід, а невелика частина покупок (25%) — набагато більший. Тобто можна припустити, що лише кожна четверта покупка була більш прибуткова. Також більшість даних знаходяться в проміжку від 1% до 75%, тобто розподіл з перекосом вправо.

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1bDa1YFUWDsPm78Lnpy2geQND8M1HEQiT)

5. Виведіть кількість інвойсів за кожним унікальним містом в наборі даних.

  Підказка: інвойс - це один рядок в цьому наборі даних, ми можемо цим скористатись аби швидко отримати відповідь.

In [8]:
df.City.value_counts()

City
Yangon       340
Mandalay     332
Naypyitaw    328
Name: count, dtype: int64

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1G8c6M875NOW7oU3OtZegTOnyD2y8lhAV)

6. Виведіть, який відсоток інвойсів припадає на кожне унікальне місто.

In [9]:
df.City.value_counts(normalize=True)

City
Yangon       0.340
Mandalay     0.332
Naypyitaw    0.328
Name: proportion, dtype: float64

In [10]:
city_counts = df.City.value_counts()
city_counts/city_counts.sum()

City
Yangon       0.340
Mandalay     0.332
Naypyitaw    0.328
Name: count, dtype: float64

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1yZZpWhL2y8DX9rSRioYCRh1VbJgcf3fY)

7.1. Використовуючи фільтрацію даних, знайдіть середнє значення `gross income` для міст `Yangon` та `Mandalay`. В якому місті воно більше?

7.2 Сформулюйте 3 гіпотези, чому в одному місті gross income вище, як можна дізнатись чи правдива ця гіпотеза з використанням даних (наявних і додаткових), та як висновки з цих гіпотез можна використати для прийняття рішень як підвищити прибуток в мережі супермаркетів. Відповідь напишіть текстом в окремій клітинці типу Markdown.

Це завдання - на продуктове мислення. Якщо не знаєте, які гіпотези сформулювати - напишіть ті, які здаються вам зовсім примітивними. Важливо навчитись висловлювати свої гіпотези щодо даних, і з часом та досвідом вони будуть ставати щоразу глибше і точніше. Весь аналіз даних будується на тому, що ми перевіряємо певні гіпотези та робимо висновки і рекоемндації на основі своїх досліджень.

In [11]:
#variant 1
filter = (df['City'] == 'Yangon') | (df['City'] == 'Mandalay')
df[filter].groupby('City')['gross income'].mean()

City
Mandalay    15.232024
Yangon      14.874001
Name: gross income, dtype: float64

In [12]:
#variant 2
mean_1 = df[df.City =='Yangon']['gross income'].mean()
mean_2 = df[df.City =='Mandalay']['gross income'].mean()

result_mean = (mean_1, mean_2)
result_mean

(np.float64(14.874001470588235), np.float64(15.232024096385542))

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1JdXUmK46WcoXUJYP7NS2SJlr2XjBbpQ8)

7.1. Середнє значення валового доходу більше в місті Mandalay.

7.2. Гіпотези

1. Вплив типу клієнта

    Чому: Постійні клієнти можуть робити більші або частіші покупки.

    Правдивість гіпотези: Порівняння середніх значень gross income по типу клієнта (Customer type) у розрізі міст (City).

    Висновки для прийняття ріщення: Нові програми лояльності для утримання поточних клієнтів та заохочення нових.

In [13]:
# Вплив наявного членства для міста Yangon
filter1 = (df['City'] == 'Yangon') #| (df['City'] == 'Mandalay')
d1 = df[filter1].groupby('Customer type')['gross income'].mean()

In [14]:
# Вплив наявного членства для міста Mandalay
filter2 = (df['City'] == 'Mandalay')
d2 = df[filter2].groupby('Customer type')['gross income'].mean()

In [23]:
combined = pd.concat([d1, d2],axis=1)
combined.columns = ['Yangon', 'Mandalay']
combined

                  Yangon   Mandalay
Customer type
Member         15.294404  15.499188
Normal         14.468179  14.968060

2. Розрахунок певним методом оплати

    Чому: Клієнти можуть робити більший чек при оплаті кредитною карткою або електронним гаманцем.

    Правдивість гіпотези: Порівняння середніх значень gross income по типу оплати (Payment) у розрізі міст (City). Також можна додати розріз по типу клієнта (Customer type), бо є вірогідність, якщо клієнт Member, то і безготівкові оплати більші.

    Висновки для прийняття ріщення: Додаткові умови програми лояльності для користувачів кридитних карток (кешбек за оплату карткою). Розробка нових методів для оплати товару (як приклад Fast Line в METRO).

In [16]:
# Вплив методу оплати для міста Yangon
filter1_1 = (df['City'] == 'Yangon')
d1_1 = df[filter1_1].groupby('Payment')['gross income'].mean()

In [17]:
# Вплив наявного членства для міста Mandalay
filter2_1 = (df['City'] == 'Mandalay')
d2_1 = df[filter2_1].groupby('Payment')['gross income'].mean()

In [18]:
combined_1 = pd.concat([d1_1, d2_1],axis=1,)
combined_1.columns = ['Yangon', 'Mandalay']
combined_1

                Yangon   Mandalay
Payment
Cash         14.623918  15.298468
Credit card  15.153274  16.314922
Ewallet      14.861817  14.122779

3. У місті з вищим gross income покупці частіше обирають дорожчі товари

    Чому: Вищий середній дохід (gross income) може бути пов'язаний із вищими цінами (Unit price) на групу товарів (Product line) .

    Правдивість гіпотези: Порівняти середнє значення (Unit price) у містах (City). Проаналізувати, які (Product line) купують частіше в місті з вищим доходом.

    Висновки для прийняття ріщення: Оптимізація асортимента та введення нових маркетингових активностей.

In [19]:
# Порівняння у розрізі категорій по містам: середня ціна, частота покупки, середній валовий дохід
filter1_2 = (df['City'] == 'Yangon')
d1_2 = df[filter1_2].groupby('Product line')['Unit price'].mean()

filter2_2 = (df['City'] == 'Mandalay')
d2_2 = df[filter2_2].groupby('Product line')['Unit price'].mean()

filter1_3 = (df['City'] == 'Yangon')
d1_3 = df[filter1_3]['Product line'].value_counts()

filter2_3 = (df['City'] == 'Mandalay')
d2_3 = df[filter2_3]['Product line'].value_counts()

filter1_4 = (df['City'] == 'Yangon')
a = df[filter1_4].groupby('Product line')['gross income'].mean()

filter2_4 = (df['City'] == 'Mandalay')
b = df[filter2_4].groupby('Product line')['gross income'].mean()


combined_3 = pd.concat([d1_2, d1_3, a, d2_2, d2_3, b],axis=1,)
combined_3.columns = ['Yangon mean price', 'Yangon count', 'Yangon mean gross income', 'Mandalay mean price', 'Mandalay count', 'Mandalay mean gross income']
combined_3

,Yangon mean price,Yangon count,Yangon mean gross income,Mandalay mean price,Mandalay count,Mandalay mean gross income
Product line,,,,,,
Electronic accessories,54.871167,60,14.537392,49.854182,55,14.763155
Fashion accessories,56.670392,51,15.249775,54.843871,62,12.606234
Food and beverages,54.974483,58,14.091216,55.540000,50,14.490370
Health and beauty,49.862340,47,12.763681,58.185660,53,17.952075
Home and lifestyle,55.845692,65,16.422854,55.514000,50,16.713490
Sports and travel,55.610339,59,15.635754,59.678065,62,15.351919

8. Для продовження дослідження різниці у прибутках в магазинах давайте зʼясуємо, чи відрізняється маржа ('gross margin percentage') для різних інвойсів в магазині? Перевірте це програмно на даних виходячи з того функціоналу, який ми вже пройшли у лекціях.

Дайте на основі отриманого результату відповідь: "У всіх всіх інвойсах однакова маржа" або "Маржа відрізняється для різних інвойсів".

In [20]:
df['gross margin percentage'].unique()

array([4.76190476])

In [21]:
df['gross margin percentage'].nunique()

1

У всіх інвойсах однакова маржа.

Очікуваний результат: відповідь щодо маржі в усіх інвойсах на основі отриманих результатів

9. Врахуовуючи висновок в попередньому завданні, дослідимо як продаються в цих містах різні категорії товарів. Виведіть відсотковий розпоіділ кількості інвойсів по категоріям товарів `Product line` в містах `Yangon` та `Mandalay`.

In [22]:
filter9 = (df['City'] == 'Yangon') | (df['City'] == 'Mandalay')
df[filter9].groupby('City')['Product line'].value_counts(normalize=True)

City      Product line
Mandalay  Fashion accessories       0.186747
          Sports and travel         0.186747
          Electronic accessories    0.165663
          Health and beauty         0.159639
          Food and beverages        0.150602
          Home and lifestyle        0.150602
Yangon    Home and lifestyle        0.191176
          Electronic accessories    0.176471
          Sports and travel         0.173529
          Food and beverages        0.170588
          Fashion accessories       0.150000
          Health and beauty         0.138235
Name: proportion, dtype: float64

Очікуваний результат для кожного з міст:

![](https://drive.google.com/uc?export=view&id=1IbG58YK5KVqC-wCnllF1btgEgfWTbi_O)

![](https://drive.google.com/uc?export=view&id=1aKOkLmlMq1sOh4GbwyaQyjfhNJzdU4Yh)